* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    position: relative;
    height: 80px;
    background-image: url(img/logo.png);
    background-size: 15%;
    background-repeat: no-repeat;
}




/*regole menu*/

.menu ul {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    color: lightgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.menu li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    
}

.menu li a {
    text-decoration: none;
    margin-right: 10px;
}

nav { 
    margin-bottom: 100px;
}



main .top {
    height: 250px;
    background-color: rgb(204, 206, 106);
    margin-top: 20px;
}

main .bottom {
    height: 400px;
    background-color: rgb(3, 120, 199);
    margin-top: 20px;
    position: relative;
}

.bottom .mini-header {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #7fc2ce;

}

.bottom .left {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #7fc2ce;
    width: 20%;
    float: left;
    margin: 2% 2% 2% 0;
    height: 82%
}

.bottom .middle {
    position: absolute;
    left: 21%;
    top: 40px;
    background-color: #7fc2ce;
    width: 54%;
    height: 82%;
    float: left;
    margin: 2%;
}

.bottom .right {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #7fc2ce;
    width: 20%;
    float: right;
    margin: 2% 0 2% 2%;
    height: 82%
}

div .bottom::after {
    content:"";
    display: table;
    clear: both;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(102, 1, 133);
    margin-top: 10px;
}

