* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    position: relative;
    height: 80px;
    background-image: url(img/logo.png);
    background-size: 10%;
    background-repeat: no-repeat;
}

.vl {
    position: absolute;
    top: 0;
    left: 12%;
    border-left: 1px solid lightgrey;
    height: 40%;
    z-index: 2;

}


/*regole menu*/

.menu ul {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    color: lightgrey;
    font-size: 12px;
}

.menu li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    
}

.menu li a {
    text-decoration: none;
    margin-right: 10px;
}

nav { 
    margin-bottom: 100px;
}



main .top {
    position: relative;
    height: 300px;
    background-color: #fff;
    margin-top: 20px;

}

main .top img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* regole overlay */

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    object-fit: cover;
    opacity: 0.2;
    border-radius: 5px;
}

/* regole text top */

.top h1 {
    position: absolute;
    top: 60%;
    left: 0;
    vertical-align: bottom;
    font-style: normal;
    color: #fff;
}

main .bottom {
    height: 400px;
    background-color: rgb(3, 120, 199);
    margin-top: 20px;
    position: relative;
}

.bottom .mini-header {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #fff;

}

.bottom .mini-header h3 {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.bottom .mini-header p {
    vertical-align: top;
    padding: 0;
    margin: 0;
    color: lightgrey;
}

.bottom .left {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #7fc2ce;
    width: 20%;
    float: left;
    margin: 2% 2% 2% 0;
    height: 82%
}

.bottom .left .left-img {
    height: 100px;
    width: 100%;
}

.bottom .left .left-img img {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.bottom .left .left-text {
    padding: 0;
    margin: 0;
}

.bottom .left .left-text p {
    position: absolute;
    left: 0;
    top: 100;
    padding: 0%;
    margin: 0%;
    font-size: 8;
    object-fit: contain;
}

.bottom .middle {
    position: absolute;
    left: 21%;
    top: 40px;
    background-color: #7fc2ce;
    width: 54%;
    height: 82%;
    float: left;
    margin: 2%;
}

.bottom .middle .middle-img {
    height: 100px;
    width: 100%;
}

.bottom .middle .middle-img img {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.bottom .right {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #7fc2ce;
    width: 20%;
    float: right;
    margin: 2% 0 2% 2%;
    height: 82%
}

.bottom .right .right-img {
    height: 100px;
    width: 100%;
}

.bottom .right .right-img img {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

div .bottom::after {
    content:"";
    display: table;
    clear: both;
}

footer {
    width: 100%;
    height: 30px;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    text-align: center;
}

footer span {
    color: #f00;
}

